:root {
    /* UI consts */
    --base-color: #ececec;
    --disabled-color: #d7d7d7;
    --disabled-color-filter: invert(69%) sepia(0%) saturate(1980%) hue-rotate(170deg) brightness(1.3) contrast(86%);
    --unfocused-color: #959595;
    --unfocused-color-filter: invert(69%) sepia(0%) saturate(1980%) hue-rotate(170deg) brightness(0.87) contrast(86%);
    --focused-color: #4e4e4e;
    --focused-color-filter: invert(69%) sepia(0%) saturate(1980%) hue-rotate(170deg) brightness(0.4) contrast(86%);
    --counterCircle-offset: 15vh;

    /* Game consts */
    --loop-width: 70vh;
    --loop-historical-scale: 0.7;
    --circle-width: 8vh;
}