body {
    overflow: hidden;
    background-color: #ececec;
    font-family: 'Helvetica', 'Tahoma', 'Arial', sans-serif;
}

.loop {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -35vh;
    margin-left: -35vh;
    width: 70vh;
    height: 70vh;
    rotate: 0deg;
    transition: rotate 0.3s ease-out;
}

/* .loop.on-create {
    animation: 3s ease-out 0s loop-create;
    animation-iteration-count: 1;
} */

.loop.invalid-submit {
    animation: 1s ease-out 0s loop-invalid-submit;
    animation-iteration-count: 1;
}

@keyframes loop-invalid-submit {
    0% {
        translate: 0vh;
    }
    20% {
        translate: 2vh;
    }
    40% {
        translate: -2vh;
    }
    60% {
        translate: 2vh;
    }
    80% {
        translate: -2vh;
    }
    100% {
        translate: 0vh;
    }
}

/* @keyframes loop-create {
    0% {
        rotate: 180deg;
    }
    100% {
        rotate: 0deg;
    }
} */