body {
    overflow: hidden;
    background-color: var(--base-color);
    font-family: 'Helvetica', 'Tahoma', 'Arial', sans-serif;
}



/* Counter circle */

#counterCircle {
    background-color: var(--base-color);
    /* background-color: #f8f8f8; */
    width: calc((var(--loop-width) * var(--loop-historical-scale) - var(--counterCircle-offset)));
    height: calc((var(--loop-width) * var(--loop-historical-scale) - var(--counterCircle-offset)));
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: calc((-0.5 * (var(--loop-width) * var(--loop-historical-scale) - var(--counterCircle-offset))));
    margin-left: calc((-0.5 * (var(--loop-width) * var(--loop-historical-scale) - var(--counterCircle-offset))));
}

/* Counter */

#counterCircle > #counter {
    position: absolute;
    border-radius: 50%;
    background-color: rgb(38, 38, 38);
    width: calc((var(--loop-width) * var(--loop-historical-scale) - var(--counterCircle-offset)) * 0.5);
    height: calc((var(--loop-width) * var(--loop-historical-scale) - var(--counterCircle-offset)) * 0.5);
    margin-top: calc((var(--loop-width) * var(--loop-historical-scale) - var(--counterCircle-offset)) * -0.25);
    margin-left: calc((var(--loop-width) * var(--loop-historical-scale) - var(--counterCircle-offset)) * -0.25);
    top: 27.5%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    font-size: calc((var(--loop-width) * var(--loop-historical-scale) - var(--counterCircle-offset)) * 0.23);
    font-family: monospace;
    filter: drop-shadow(-0.1em 0.1em 1vh rgb(100,100,100));
}

#counterCircle > #turnsLeftStaticText {
    position: absolute;
    background-color: rgb(38, 38, 38);
    color: white;
    border-radius: 12vh;
    width: calc((var(--loop-width) * var(--loop-historical-scale) - var(--counterCircle-offset)) * 0.4);
    height: calc((var(--loop-width) * var(--loop-historical-scale) - var(--counterCircle-offset)) * 0.125);
    margin-top: calc((var(--loop-width) * var(--loop-historical-scale) - var(--counterCircle-offset)) * -0.0625);
    margin-left: calc((var(--loop-width) * var(--loop-historical-scale) - var(--counterCircle-offset)) * -0.2);
    top: 62.5%;
    left: 50%;
    content: "Test";
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: calc((var(--loop-width) * var(--loop-historical-scale) - var(--counterCircle-offset)) * 0.055);
    filter: drop-shadow(-0.2em 0.2em 1vh rgb(100,100,100));
}

#counterCircle > #counter.flipAnim {
    animation: ui-flip-part-1, ui-flip-part-2;
    animation-duration: 0.2s, 1s;
    animation-delay: 0s, 0.2s;
    animation-iteration-count: 1;
}

/* Forward and back history buttons */

#counterCircle > #historyForwardButton, #historyBackwardButton {
    position: absolute;
    display: flex;
    width: calc(4 / 34 * (var(--loop-width) * var(--loop-historical-scale) - var(--counterCircle-offset)));
    height: calc(4 / 34 * (var(--loop-width) * var(--loop-historical-scale) - var(--counterCircle-offset)));
    top: 85%;
    margin-top: calc(-2 / 34 * (var(--loop-width) * var(--loop-historical-scale) - var(--counterCircle-offset)) - (var(--loop-width) * var(--loop-historical-scale) - var(--counterCircle-offset)) * 0.02);
    margin-left: calc(-2 / 34 * (var(--loop-width) * var(--loop-historical-scale) - var(--counterCircle-offset)) - (var(--loop-width) * var(--loop-historical-scale) - var(--counterCircle-offset)) * 0.02);
    transition: filter 0.25s ease-out;
    transition: filter 0.25s ease-out; 
    filter: var(--unfocused-color-filter);
    z-index: 1;
    padding: calc(4 / 34 * (var(--loop-width) * var(--loop-historical-scale) - var(--counterCircle-offset)) * 0.02);

    & img {
        width: 100%;
        height: 100%;
        transition: scale 0.8s ease-out; /* If the browser doesn't support the below transition */
        transition: scale 0.8s linear(0, 1.2, 0.8, 1.1, 0.9, 1, 1, 1);
        pointer-events: none;
    }
}

#counterCircle > #historyForwardButton.disabled, #historyBackwardButton.disabled {
    filter: var(--disabled-color-filter) !important;
    pointer-events: none !important;
    cursor: none !important;
}

#counterCircle > #historyForwardButton.cooldown, #historyBackwardButton.cooldown {
    pointer-events: none !important;
    cursor: none !important;
}

#counterCircle > #historyForwardButton:hover, #historyBackwardButton:hover {
    filter: var(--focused-color-filter);
    cursor: pointer;
}

#counterCircle > #historyForwardButton:active, #historyBackwardButton:active {
    & img {
        scale: 0.8;
    }
}

#counterCircle > #historyForwardButton {
    left: 75%
}

#counterCircle > #historyBackwardButton {
    left: 25%;
    rotate: 180deg;
}

/* History turn counter */

#counterCircle > #historyTurn {
    position: absolute;
    background-color: rgb(100, 100, 100);
    width: calc(10 / 34 * (var(--loop-width) * var(--loop-historical-scale) - var(--counterCircle-offset)));
    height: calc(4 / 34 * (var(--loop-width) * var(--loop-historical-scale) - var(--counterCircle-offset)));
    top: 85%;
    left: 50%;
    margin-top:  calc(-2 / 34 * (var(--loop-width) * var(--loop-historical-scale) - var(--counterCircle-offset)));;
    margin-left:  calc(-5 / 34 * (var(--loop-width) * var(--loop-historical-scale) - var(--counterCircle-offset)));
    border-radius: 12vh;
    color: white;
    text-align: center;
    line-height:  calc(4 / 34 * (var(--loop-width) * var(--loop-historical-scale) - var(--counterCircle-offset)));
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size:  calc(0.048 * (var(--loop-width) * var(--loop-historical-scale) - var(--counterCircle-offset)));
    transition-property: width, margin-left, font-size, left;
    transition-duration: 0.07s;
    transition-timing-function: ease-out;
    filter: drop-shadow(0ch 0ch 1vh rgb(150,150,150));
    transform: rotateX(0);
}

#counterCircle > #historyForwardButton:hover:active ~ #historyTurn, #historyBackwardButton:hover:active ~ #historyTurn {
    width:  calc(6 / 34 * (var(--loop-width) * var(--loop-historical-scale) - var(--counterCircle-offset)));
    margin-left:  calc(-3 / 34 * (var(--loop-width) * var(--loop-historical-scale) - var(--counterCircle-offset)));
    font-size:  calc(0.025 * (var(--loop-width) * var(--loop-historical-scale) - var(--counterCircle-offset)));;
}

#counterCircle > #historyForwardButton:hover:active ~ #historyTurn {
    left: 60%;
}

#counterCircle > #historyBackwardButton:hover:active ~ #historyTurn {
    left: 40%;
}

#counterCircle > #historyTurn.disabled { /* Replace with ::disabled selector? */
    visibility: hidden;
}

#counterCircle > #historyTurn.flip_Anim {
    animation: ui-flip-part-1, ui-flip-part-2;
    animation-duration: 0.1s, 0.5s;
    animation-delay: 0s, 0.1s;
}




/* Animations */

@keyframes ui-flip-part-1 {
    0% {
        transform: rotateX(0deg);
    }
    100% {
        transform: rotateX(90deg);
    }
}

@keyframes ui-flip-part-2 {
    0% {
        transform: rotateX(-90deg);
    }
    20% {
        transform: rotateX(0deg);
    }
    40% {
        transform: rotateX(60deg);
    }
    60% {
        transform: rotateX(-40deg);
    }
    80% {
        transform: rotateX(25deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}